<div class="container">
  <div class="content">
    <div class="head_text">
      <h3>Заполните анкету</h3>
    </div>
    <form action="/form" role="form" method="post">
      <div class="text-field">
        <label class="text-field__label" for="form">Ф.И.О.*</label>
        <input class="text-field__input" type="text" name="fio" id="firstname" required>
        <div class="text-field__message"></div>
      </div>
      <div class="text-field">
        <label class="text-field__label" for="form">Номер телефона:*</label>
        <input class="text-field__input" type="tel"  placeholder="500 00 00 00" name="phone"  minlength="9" maxlength="9" required>
        <div class="text-field__message"></div>
      </div>
      <div class="text-field">
        <label class="text-field__label" for="form">Стоимость товара:*</label>
        <input class="text-field__input" type="text" name="price" required>
        <div class="text-field__message"></div>
      </div>
      <div class="text-field">
        <label class="text-field__label" for="form">Место работы:*</label>
        <input class="text-field__input" type="text" name="place_work" required>
        <div class="text-field__message"></div>
      </div>
      <div class="text-field">
        <label class="text-field__label" for="form">Должность:*</label>
        <input class="text-field__input" type="text" name="position_work" required>
        <div class="text-field__message"></div>
      </div>
      <div class="text-field">
        <label class="text-field__label" for="form">Средний зароботок:*</label>
        <input class="text-field__input" type="text" name="mid_price" required>
        <div class="text-field__message"></div>
      </div>
      <div class="text-field">
        <label class="text-field__label" for="form">Фактический адресс проживания:*</label>
        <input class="text-field__input" type="text" name="address" required>
        <div class="text-field__message"></div>
      </div>
      <div class="text-field">
        <label class="text-field__label" for="form">WhatsApp (указать номер):</label>
        <input class="text-field__input" type="text" name="whatsapp">
        <div class="text-field__message"></div>
      </div>
      <div class="text-field">
        <label class="text-field__label" for="form">Instagram (указать имя пользователя):</label>
        <input class="text-field__input" type="text" name="instagram">
        <div class="text-field__message"></div>
      </div>
      <div class="text-field">
        <label class="text-field__label" for="form">Facebook (указать имя пользователя):</label>
        <input class="text-field__input" type="text" name="facebook">
        <div class="text-field__message"></div>
      </div>
      <div class="checkbox">
        <label for="form" style="display: flex; align-items: center;">
          <input type="checkbox" class="form-check-input" value="Да" placeholder="Обработка персональных данных"
            required="">
          <span> Подтверждаю, что все преставленные мною данные верны</span>
        </label>
      </div>

      <div class="button_block">
        <button class="btn btn-dark btn-block btn-lg" type="submit"> Отправить</button>
      </div>
    </form>
  </div>
</div>


<style>
  body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .container {
    width: 100%;
    margin: 0 auto;
    background: #f1f1f1;
    text-align: justify;
    background-color: #fff;
    overflow: hidden;

  }

  .content {
    margin: 0 auto;
    max-width: 500px;
    background: linear-gradient(270deg, #5858cfb9, #843de7a9);
    padding: 30px;
    border-radius: 3px;
    text-align: left;
    margin-top: 30px;
  }

  .head_text {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
  }

  hr {
    color: rgb(0, 64, 120);
    border: 1px solid #4f45d7;
  }

  .form {
    padding: 0px 10px;
  }

  /* text field */
  .text-field {
    margin-bottom: 10px;
  }

  .text-field__label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: rgb(20, 67, 222);
  }

  .text-field__input {
    display: block;
    width: 90%;
    height: calc(1.75rem + 1px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  .text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }

  .text-field__input:disabled,
  .text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
  }

  .text-field__input_invalid,
  .text-field__input_valid {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5625rem center;
    background-size: 1.125rem 1.125rem;
  }

  .text-field__input_valid {
    border-color: #198754;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  }

  .text-field__input_invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  }

  .text-field__input_valid:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
  }

  .text-field__message {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
  }

  .text-field__input_valid~.text-field__message {
    color: #198754;
  }

  .text-field__input_invalid~.text-field__message,
  .text-field__input_valid~.text-field__message {
    display: block;
  }

  .checkbox,
  .radio {
    position: relative;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .checkbox label,
  .radio label {
    display: inline-block;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }

  .checkbox input[type="checkbox"],
  .radio input[type="radio"] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
  }

  .button_block {
    margin: 20px 0px;

  }

  .btn-block {
    display: block;
    width: 100%;
  }

  .btn-lg {
    line-height: 2;
    padding: 15px 30px;
  }

  .btn {
    background: linear-gradient(270deg, #8787f5d6, #6b16e3d5);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: #fff;
    padding: 15px 20px;
    text-shadow: 0 0 2px rgb(238, 236, 236);
    line-height: 1.4;
    display: inline-block;
  }
</style>