<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" lang="ru" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <meta name="theme-color" content="#2196F3" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@400&display=swap" rel="stylesheet">
  <meta name="keywords" content="Form">
  <meta name="description" content="Form">

  <title>{{title}} </title>

</head>

<body>

  {{{body}}}

</body>

</html>
<script>

  window.process = { env: { NODE_ENV: 'production' } };

</script>
